<div class="adr">
    <h2 class="fs-1 p-3">PORTFOLIO COMPONENT </h2>
    <div class="in">
        <div class="lin"> </div>
        <i class="fa-solid fa-star"></i>
        <div class="lin"> </div>
    </div>
</div>
<div class="container">
    <form>
        <input type="text" placeholder="userName" name="uname" class="form-control m-4 p-3"/>
        <input type="number" placeholder="userAge" name="uage" class="form-control m-4 p-3"/>
        <input type="email" placeholder="userEmail" name="uemail" class="form-control m-4 p-3"/>
        <input type="password" placeholder="userName" name="upass" class="form-control m-4 p-3"/>
        <button class="btn">send message</button>
    </form>

</div>

